.react-chatbot-kit-chat-container {
  margin: auto;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

.react-chatbot-kit-user-chat-message {
  background-color: #0287b2;
  color: white;
}

.react-chatbot-kit-chat-inner-container {
  height: 100%;
  background-color: transparent;

  font-family: 'Poppins', sans-serif;
}

.react-chatbot-kit-chat-header {
  font-family: 'Poppins', sans-serif;
  display: none;
}

.react-chatbot-kit-chat-input-container {
}

.react-chatbot-kit-chat-message-container {
  height: 85vh;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.react-chatbot-kit-user-avatar-container{
  background-color: #0287b2;
}

.react-chatbot-kit-user-chat-message-arrow {
  border-left-color: #0287b2; /* Set this to your desired color */
}


.react-chatbot-kit-chat-input {
  font-family: 'Poppins', sans-serif;
  border-radius: 10px 0px 0px 10px !important;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  background-color: #f0f0f0;
}

.react-chatbot-kit-chat-input-form {
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-chatbot-kit-chat-input::placeholder {
  font-family: 'Poppins', sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-chatbot-kit-chat-btn-send {
  font-family: 'Poppins', sans-serif;
  border-radius: 0px 10px 10px 0px !important;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: transparent;
  overflow: hidden !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: pointer;
}

.react-chatbot-kit-chat-btn-send-icon {
  font-family: 'Poppins', sans-serif;

  fill: black;
}

.react-chatbot-kit-chat-bot-message-container {
  background-color: transparent;
  width: 85% !important;
  font-family: 'Poppins', sans-serif;
}

.react-chatbot-kit-chat-bot-avatar-container {
  font-family: 'Poppins', sans-serif;
}

.react-chatbot-kit-chat-bot-avatar-icon {
  font-family: 'Poppins', sans-serif;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  font-family: 'Poppins', sans-serif;
}

.react-chatbot-kit-chat-bot-message {
  left: 0 !important;
  margin-left: 0;
  width: 60%;
  background-color: transparent;
  white-space: pre-wrap;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.react-chatbot-kit-chat-bot-message-arrow {
  opacity: 0;
  font-family: 'Poppins', sans-serif;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
  font-family: 'Poppins', sans-serif;
}

.chatbot-loader-container {
  font-family: 'Poppins', sans-serif;
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}

.default-btn-clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
}

.btn-container {
  align-content: right;
  width: 80%;
  margin: auto;
}
